@font-face
    font-family: 'Dosis'
    font-style: normal
    font-weight: 500
    src: local('Dosis'), url('/fonts/Dosis-VariableFont_wght.ttf') format('truetype')

body
    background: radial-gradient(31.74% 3046.23% at 50% 49.81%,#242a42 0,#121524 100%)
    color: #fff
